.listProductCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px;
  min-height: 90vh;
  min-width: 96vw;
  box-shadow: 1px 6px 5px #9fb4c5;
  border-radius: 10px;
  &__wrappAction {
    width: 250px;
    display: flex;
    flex-direction: column;
    button {
      margin: 5px;
    }
  }
  &__filter {
    margin: 25px 25px 0 25px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    background-color: aliceblue;
    box-shadow: 1px 6px 5px #9fb4c5;
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 75px;
    right: 25px;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
  }
  background-color: aliceblue;
}
