.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* flex-direction: column; */
  width: 100%;
  min-height: 100vh;
  background-color: grey;
}

.container {
  width: 1224px;
  margin: 0 auto;
}

.navigate {
  cursor: pointer;
  position: fixed;
  top: 35px;
  right: 35px;
  width: 65px;
}

label {
  cursor: pointer;
}
